In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [17]:
%%sql
CREATE DATABASE spotify_db;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [18]:
%%sql
use spotify_db;
CREATE TABLE IF NOT EXISTS spotify_tracks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(255),
    artist VARCHAR(255),
    album VARCHAR(255),
    popularity INT,
    duration_minutes FLOAT
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [31]:
%%sql
SELECT track_name, artist, album, popularity, duration_minutes FROM spotify_tracks
ORDER BY popularity DESC;

 * mysql+mysqlconnector://root:***@localhost/test
15 rows affected.

[('Die With A Smile', 'Lady Gaga', 'Die With A Smile', 100, 4.19445),
 ('I Wanna Be Yours', 'Arctic Monkeys', 'AM', 93, 3.06593),
 ('End of Beginning', 'Djo', 'DECIDE', 91, 2.65408),
 ('The Night We Met', 'Lord Huron', 'Strange Trails', 91, 3.47018),
 ('Perfect', 'Ed Sheeran', 'รท (Deluxe)', 90, 4.39),
 ('Night Changes', 'One Direction', 'FOUR (Deluxe)', 90, 3.77667),
 ('Shape of You', 'Ed Sheeran', 'รท (Deluxe)', 90, 3.8952),
 ('Dandelions', 'Ruth B.', 'Safe Haven', 88, 3.89533),
 ('a thousand years', 'Christina Perri', 'a thousand years', 86, 4.752),
 ('Baby', 'Justin Bieber', 'My World 2.0', 85, 3.57067),
 ('Steal My Girl', 'One Direction', 'FOUR (Deluxe)', 84, 3.80222),
 ('Chemtrails Over The Country Club', 'Lana Del Rey', 'Chemtrails Over The Country Club', 82, 4.5196),
 ('Those Eyes', 'New West', 'Those Eyes', 80, 3.67917),
 ("We Don't Talk Anymore (feat. Selena Gomez)", 'Charlie Puth', 'Nine Track Mind', 80, 3.62843),
 ('Love Me Like You Do - From "Fifty Shades Of Grey"', 'Ellie Goulding', 'Delirium (Deluxe)', 79, 4.2089)]

In [32]:
%%sql
SELECT AVG(popularity) AS average_popularity
FROM spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(Decimal('87.2667'),)]

In [33]:
%%sql
SELECT track_name, artist, duration_minutes
FROM spotify_tracks
WHERE duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost/test
5 rows affected.

[('Perfect', 'Ed Sheeran', 4.39),
 ('Love Me Like You Do - From "Fifty Shades Of Grey"', 'Ellie Goulding', 4.2089),
 ('Chemtrails Over The Country Club', 'Lana Del Rey', 4.5196),
 ('Die With A Smile', 'Lady Gaga', 4.19445),
 ('a thousand years', 'Christina Perri', 4.752)]

In [36]:
%%sql
SELECT 
CASE 
    WHEN popularity >= 80 THEN 'Very Popular'
    WHEN popularity >= 60 THEN 'Popular'
    ELSE 'Less Popular'
END AS popularity_range, COUNT(*) AS count
FROM spotify_tracks
GROUP BY popularity_range;

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[('Very Popular', 14), ('Popular', 1)]